body {
    background-color: rgb(0, 11, 114);
}

#title {
    color: white;
}
#main-title {
    font-size: 48px;
}

button {
    border: 1px solid lightgrey;
    color: grey;
    font-weight: 700;
}

button:hover {
    border: 1px solid grey;
    color: black;
}

.deselect:hover {
    background-color: rgb(247, 248, 184);
}

.delete-item:hover {
    background-color: rgb(243, 194, 182)
}

.select:hover {
    background-color: rgb(200, 250, 200)
}

.half {
    background-color: white;
    margin: 5%;
    padding: 10px;
    box-shadow: 5px 10px 18px #090027;
}

.dish-name, .button-area {
    display: inline;
}

.button-area {
    float: right;
}
.line-item {
    margin: 15px;
    padding: 10px 0;
    border-bottom: 1px solid darkgrey;
}

.suggestions {
    margin-top: 5%;
}

.section-title {
    font-family: 'Lobster Two', cursive;
}